helpdev==0.7.1
packaging==21.3
playsound==1.3.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
qrainbowstyle==0.9.6
QtPy==2.3.0
